{% extends 'main.html' %}

{% block content %} 

<h3><a href="{% url 'createProject' %}">Create project</a></h3>

<h1>ALL projects</h1>
<table>
    <tr>
        <th>Project Name</th>
        <th>Created</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for project in projects %} 
    <tr>
        <td>{{project.title}}</td>
        <td>{{project.created}}</td>
        <td><a href="{% url 'project' project.id %}">View</a></td>
        <td><a href="{% url 'editProject' project.id %}">Edit</a></td>
        <td><a href="{% url 'deleteProject' project.id %}">Delete</a></td>
    </tr>
    {% endfor %}
    
</table>
<ul>
    
</ul>


{% endblock content %}